* {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  display: table;
}

nav {
  display: table-caption;
  caption-side: bottom;
}
nav li {
  text-align: center;
}
nav li a {
  display: block;
}

#bottom, #top {
  font-size: 0.8em;
  position: absolute;
  right: 1em;
  text-decoration: none;
}
#top {
  top: 0.5em;
}
#bottom {
  bottom: 0.5em;
}
main, header {
  position: relative;
}
footer #contact ul {
  clear: both;
}
footer #contact li {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background: #f1f1f1;
}
footer #contact .emails li img {
  width: 96px;
  height: 96px;
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media (min-width: 480px) {
  #bottom, #top {
    display: none;
  }
  article, nav {
    display: block;
  }
  nav ul {
    text-align: center;
  }
  nav li {
    display: inline;
  }
  nav li a {
    border-right: 1px solid #ad66d5;
    border-bottom: none;
    display: inline-block;
    padding: 0 5px;
    font-size: 1.6em;
  }
  nav li:last-child a {
    border-right: none;
  }
}

@media (min-width: 600px) {
  html {
    height: 100%;
  }
  body {
    width: 600px;
    height: inherit;
    margin: 0 auto;
    background: linear-gradient(to bottom, #fff, #eee);
  }
  main > p {
    background: rgba(255, 255, 255, 0.3);
  }
  nav li a {
    padding: 0 10px;
    font-size: 2em;
  }
}
