* {
  border: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  color: #7a5e2a;
  box-sizing:border-box;
}

.page {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
  background: #eee;
}

main {
  background: white;
}

/* menu ---------------------- */
#menu {
  list-style: none;
  display: flex;
  flex-flow: column;
  background: #001837;
}
#menu li {
  font-size: 1.5rem;
}
#menu li a {
  padding: 10px;
  display: block;
  color: white;
}
#menu li a:hover {
  background: #f02b2e;
}
@media screen and (min-width: 600px) {
  #menu { flex-flow: row; }
}
/* menu ---------------------- */

img {
  width: 100%;
}
.no-js #slideshow {}
#slideshow {
  position: relative;
}
.js #slideshow figcaption {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 425px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px;
}
.js .slideshow h3 { border-bottom: 2px solid white; }
.no-js .slideshow #controls {
  /* Do not display these when JS is disabled */
  display: none;
}
.slideshow #controls a {
  height: 30px;
  width: auto;
  cursor: pointer;
  color: white;
  padding: 1em;
  position: absolute;
  top: 50%;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  font-size: 18px;
  margin-top: -33px;
}
.slideshow #controls a:hover {
  background-color: rgba(0,0,0,0.8);
}
.slideshow #controls #next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow figure:not(#first-slide) {
  /* We want only the first image in the slide show. */
  display: none;
}
#grid {
  display: flex; /* let items have 'equal height' */
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#grid li {
  overflow: auto;
  margin: 1em auto;
  width: 30%;
  height:440px;
  border-radius: 1em;
  border: .2em solid black;
}
#grid .pic {
  background: no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#grid #spec-decor .pic    { background-image:url(Images/pic1.png); }
#grid #gilding .pic       { background-image:url(Images/pic2.png); }
#grid #sign-writing .pic  { background-image:url(Images/pic3.png); }
/* smaller screens */
@media (max-width: 600px) {
  #grid {
    flex-flow: column;
  }
  #grid li { display: block; width: 80%; height: 300px; }
  #grid .pic { background-size: contain; }
}
