* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  color: #7a5e2a;
  box-sizing:border-box;
  background-image: url(https://www.publicdomainpictures.net/pictures/260000/nahled/background-design-dore-1.jpg);
}

.page {
  max-width: 900px;
  margin: auto;
/*  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
    */
  background: #eee;
  display: flex;
  flex-direction: column;
}

header {
}
header a {
  display: block;
  width: 170px;
  height: 170px;
  float: left;
}
@media screen and (max-width: 600px) {
  header a {
    width: 100px;
    height: 100px;
  }
}
header img#logo {
  width: 100%;
  height: 100%;
  padding: 0;
  /* try to centre the logo */
  margin: 0;
  border: 10px solid transparent; /* Maybe margin does the same? */
}
header hgroup {
  height: 100%;
  display: flex;
  flex-flow: column;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 10px;
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  header hgroup {
    font-size: 1rem;
  }
}

main {
  margin: 0 auto;
  width: 100%;
  color: black;
}
main section {
  padding: 1.5em;
}

section#text {
  color: #7a5e2a;
}
section#text h2 {
  text-align: center;
}
section#text p {
  margin-top: .5em;
}

/* menu ---------------------- */
#menu {
  justify-content: space-evenly;
  list-style: none;
  display: flex;
  flex-flow: column;
  flex:auto;
}
#menu li {
  font-size: 1.5rem;
  width: 100%;
}
#menu li a.current {
  border-radius: 15px 15px 0 0;
  background: #7a5e2a;
  color: white;
}
#menu li a.current:hover {}
#menu li a {
  padding: 10px;
  display: block;
  color: #7a5e2a;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
#menu li a:hover {
  border-radius: 15px 15px 0 0;
  /*color: #7a5e2a;*/
  color: black;
  background: white;
}
@media screen and (min-width: 600px) {
  #menu {
    flex-flow: row;
    background: inherit;
    width: calc(100% - 180px);
    float: right;
    margin-top: -30px;
  }
  #menu li a {
    color: #7a5e2a;
    text-align:center;
  }
  #menu li a:hover {}
}
/* menu ---------------------- */

img {
  width: 100%;
}
/* @media screen and (max-width: 600px) {
  #slideshow {
    overflow: auto;
    margin: 10px auto;
    width: 90%;
    max-height: 318px;
    border: 1px solid black;
  }
  .slideshow figure {
    display: block !important;
    margin: 10px auto;
    min-height: 318px;
  }
  .slideshow figcaption { clear: left; }
  .slideshow figure img { width: 100%; }
  #slideshow #controls { display: none; }
}
@media screen and (min-width: 600px) {
*/
@media screen and (max-width: 600px) {
  #slideshow {
  }
  .js #slideshow figure figcaption {
    width: 80%;
  }
} /* end of media query and max-width: 600px */
  #slideshow {
    margin: 0;
    padding: 0;
    position: relative;
  }
  .js #slideshow figcaption {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 425px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
  }
  .js .slideshow h3 { border-bottom: 2px solid white; }
  .no-js .slideshow #controls {
    /* Do not display these when JS is disabled */
    display: none;
  }
  .slideshow #controls a {
    height: 30px;
    width: auto;
    cursor: pointer;
    color: white;
    padding: 1em;
    position: absolute;
    top: 50%;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    font-size: 18px;
    margin-top: -33px;
  }
  .slideshow #controls a:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .slideshow #controls #next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .slideshow figure:not(#first-slide) {
    /* We want only the first image in the slide show. */
    display: none;
  }
  /*
}
*/
#grid {
  display: flex; /* let items have 'equal height' */
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#grid li {
  overflow: hidden;
  margin: 1em auto;
  width:234px;
  height:190px;
  border-radius: 1em;
  border: .1em solid black;
}
#grid .picMessage h4 {
  margin-bottom: 10px;
  height: 30px;
  padding-top: 5px;
}
#grid .picMessage > p {
  border-top: 2px solid white;
  padding-top: 5px;
  /* On bigger screens this may not look nice. */
  font-family: arial;
  font-size: 0.9em;
  height: 200px;
}
#grid .picMessage {
  position: relative;
  padding: 10px;
  background-color: grey;
  text-align: center;
  top: -50px;
  opacity: 0.8;
  color: white;
}
#grid li img {
  width: 100%;
  width:234px;
  height:190px;
}

footer {
  text-align: center;
  position: relative;
}
footer * {
  z-index: 150;
}
/* Make a chevron */
footer::after,
footer::before {
  position: absolute;
  width: 100px;
  height: 200px;
  background: #eee;
  content: "";
  bottom: -0.5em;
  z-index: -100;
}
footer::before {
  right: 50%;
  transform: skew(0, 10deg);
}
footer::after {
  left: 50%;
  transform: skew(0, -10deg);
}
/* End of chevron */
footer h1 { font-size: 50px; text-transform: uppercase; border-bottom:#7a5e2a solid 2px; }
footer h2 { text-transform: uppercase; margin: 10px auto; }
footer h3 { margin-bottom: .8em; }
footer ul {
  display: flex;
  list-style: none; display: flex; justify-content: center;
  flex-wrap: wrap;
}
footer ul li {
  margin:15px;
  display: flex;
  flex-wrap: nowrap;
}
footer p#register {
  font-size: 13px;
  margin-bottom: 5px;
}
div.created-by {
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: arialnarrow;
  padding: 0.1em;
  position: relative;
}
div.created-by.parallelogram {
  width: 30%;
  transform: skew(-20deg);
  background: rgba(0, 0, 0, 0.6);
  margin: 2em auto;
}

@font-face {
font-family: arialnarrow;
  src: url(arial_narrow.ttf);
}
@font-face {
  font-family: monotypecorsiva;
  src: url(monotype-corsiva.ttf);
}

/* Testimonials */
#testimonials{
  box-sizing: border-box;
  margin: 0;
  margin-top:20px;
  padding: 0;
}
#testimonials h2{
  text-align: center;
  color: #7a5e2a;
}
#testimonials ul{
  width: 100%;
  height: 250px;
  margin: 2% 2.5%;
  padding: 0;
  box-sizing: border-box;
}
#testimonials ul li{
  list-style: none;
  width: 18.5%;
  height: 100%;
  border: 1px solid #7a5e2a;
  float: left;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
  /* Center the content */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  /*
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  */
  background: white;
  margin: 0.3%;
}
/* There is the border on the right which slings out a bit; get rid of it 
#testimonials ul li:last-child{
  border-right: 0;
}
*/
/* ------------------------------------------------------------------ */
#testimonials ul:hover li{
  padding: 1.5em 0;
  width: 10%;
}
#testimonials ul li:hover{
  width: 50%;
}
#testimonials ul li .content p{
  display: none;
}
#testimonials ul li .content img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
#testimonials ul li:hover .content p{
  display: block;
  font-family: monotypecorsiva;
  font-size: 1.4rem;
}
#testimonials ul li:hover .content{
  bottom: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}
#testimonials ul li .content h3{
  color: #7a5e2a;
  font-weight: 800;
}
#testimonials ul li .content p.address{
  /* It seems to be better if we do not display these element */
  display: none;
  color: #669999;
}
#testimonials ul li .content p.address ~ p{
  color: #e6b800;
}
/* Testimonials */
